@{
    ViewBag.Title = "Home Page";
}
@section featured {
}

@using (Html.BeginForm("authenticate", "Home"))
{
    <input type="submit" value="Authenticate With Yahoo!" name="authenticate" id="authenticate"/>    
}   

<br/>

<h3>Click that button!</h3>
<ol class="round">
    <li class="one">
        Quick demo app showing how to authenticate with Yahoo to get access to fantasy sports data.
    </li>
</ol>
