@{
    ViewBag.Title = "Query";
}

<h2>Query</h2>

@using (Html.BeginForm("query", "Home"))
{
    <span>http://fantasysports.yahooapis.com/fantasy/v2/</span><input type="text" name="text" value="" id="text" />
    <br />
    <input type="submit" name="query" value="Execute Query" id="query" />
}

<p>@ViewBag.Message</p>


<ol class="round">
    <li class="one">
        <h3>Sample Query:</h3>
        
        http://fantasysports.yahooapis.com/fantasy/v2/leagues;league_keys=GAMEKEY.l.LEAGUEID
        
        
        <h5>League Id:</h5>
        <p>Look at the URL to one of your fantasy leagues, for example this baseball league's URL is: <a href="#">http://baseball.fantasysports.yahoo.com/b1/#####</a></p>
        <p>The ##### at the end of the URL is your League Id.</p>
        
        <h5>Game Key:</h5>
        <p>Since we already know this is a baseball league, we can simply use the "mlb" key.</p>
        <p>Alternatively you can use the numeric Game ID from Yahoo.  This can be useful to look at data from a specific year of your league</p>
        <p><a href="http://developer.yahoo.com/fantasysports/guide/game-resource.html#game-resource-key_format">http://developer.yahoo.com/fantasysports/guide/game-resource.html#game-resource-key_format</a>
        
    </li>
</ol>
